body{
    cursor: none;
}
cursor {
    background-color: white;
    position: absolute;
    z-index: 0;
    height: 1vmax;
    aspect-ratio: 1;
    transition: all 500ms ease;
    border: 2px rgb(20,20,20) solid;
    border-radius: 100%;
}
.idle{
    animation: idle 2s ease infinite;
}
.mousedown{
    scale: .5;
}
@keyframes idle {
    0%, 100% {
      opacity: 1;
      scale: 1;
    }
    50% {
        opacity: 0;
        scale: 0.2;
    }
}